<app-header></app-header>
<!-- <div class="container"> -->
<div class="wrap">
    <img src="assets/img/SWDisney.jpeg" alt="" style="width:100%;">
    <mat-card class="text">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque modi id earum. Consectetur nesciunt similique quaerat accusamus assumenda dolores quod velit quia sapiente deserunt odio consequuntur explicabo, deleniti laudantium quas. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Beatae porro, nostrum voluptate blanditiis ullam soluta libero. Voluptate itaque odit illum, impedit doloribus blanditiis nulla, sunt dicta nemo temporibus nihil possimus! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nostrum, fuga. Illo corrupti voluptas, nesciunt quo a fugiat iusto accusamus laudantium fuga impedit ducimus? Saepe necessitatibus earum illo ducimus. Quas, porro?
        </p>
    </mat-card>
</div>
<div class="wrap">
    <img src="assets/img/yoda.jpg" alt="" style="width:100%;">
    <mat-card class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque modi id earum. Consectetur nesciunt similique quaerat accusamus assumenda dolores quod velit quia sapiente deserunt odio consequuntur explicabo, deleniti laudantium quas. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Beatae porro, nostrum voluptate blanditiis ullam soluta libero. Voluptate itaque odit illum, impedit doloribus blanditiis nulla, sunt dicta nemo temporibus nihil possimus! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Nostrum, fuga. Illo corrupti voluptas, nesciunt quo a fugiat iusto accusamus laudantium fuga impedit ducimus? Saepe necessitatibus earum illo ducimus. Quas, porro?</mat-card>

</div>
<div class="wrap">
    <img src="assets/img/darthvader.jpg" alt="" style="width:100%;">
    <mat-card class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque modi id earum. Consectetur nesciunt similique quaerat accusamus assumenda dolores quod velit quia sapiente deserunt odio consequuntur explicabo, deleniti laudantium quas. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Beatae porro, nostrum voluptate blanditiis ullam soluta libero. Voluptate itaque odit illum, impedit doloribus blanditiis nulla, sunt dicta nemo temporibus nihil possimus! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Nostrum, fuga. Illo corrupti voluptas, nesciunt quo a fugiat iusto accusamus laudantium fuga impedit ducimus? Saepe necessitatibus earum illo ducimus. Quas, porro?</mat-card>

</div>

<!-- </div> -->